.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-button {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    .material-icons {
        vertical-align: middle;
    }

    .mat-mdc-menu-trigger {
        background-color: rgb(238, 235, 235);
    }

    .mat-ripple-element {
        display: none !important;
    }
}

.menu-filters {
    padding: 20px;
}

.sectors-container {
    height: 40vh;
    overflow-y: scroll;
}

mat-slider {
    width: 90%;
}

.mdc-slider__value-indicator-container {
    bottom: 0px;
}

.table-container {
    height: calc(100vh - 240px);
    border-bottom: none;
    overflow: auto;

    table {
        width: 100%;
        table-layout: fixed;

        td {
            font-size: 0.86rem !important;
        }

        th:nth-child(odd),
        td:nth-child(odd) {
            width: 22% !important;
        }

        th:nth-child(even),
        td:nth-child(even) {
            width: 26% !important;
        }

        .mat-mdc-row .mat-mdc-cell {
            cursor: pointer;
        }

        .mat-mdc-row:hover .mat-mdc-cell {
            font-weight: 500;
            transition: font-weight 0.1s ease-in;
        }
    }

    .spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 100px);
    }

    .mat-paginator {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-left: -12px;
        margin-right: -12px;
        box-shadow: none;
    }
}