<div *ngIf="fireService.dataLoaded$ | async" class="filter-container row">
  <mat-form-field class="col-5">
    <mat-icon matTextPrefix>search</mat-icon>
    <input matInput [formControl]="nameControl" placeholder="Search organization" autocomplete="off">
    <button *ngIf="nameControl.value" matSuffix mat-icon-button (click)="nameControl.reset('')">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="filter-button col-3">
    <button mat-flat-button [matMenuTriggerFor]="filters" [disabled]="isDataLoading">
      Select filters
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #filters="matMenu" xPosition="before">
      <div class="menu-filters" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <strong><mat-label>Area</mat-label></strong>
        <section [formGroup]="areaControls">
          <ng-container *ngFor="let area of areas">
            <mat-checkbox formControlName="{{area}}" [disableRipple]="true">{{area.toLowerCase()}}</mat-checkbox>
          </ng-container>
        </section>
        <br/>
        <strong><mat-label>Sectors</mat-label></strong>
        <br/>
        <mat-checkbox [checked]="isAllSectorsChecked" [indeterminate]="someSectorsChecked()" (change)="setAllSectors($event.checked)">All</mat-checkbox>
        <section [formGroup]="sectorControls" class="sectors-container">
          @for (sector of sectors; track sector) {
            <mat-checkbox formControlName="{{sector.key}}">{{sector.value}}</mat-checkbox>
            <br/>
          } @empty {
            <p>no records.</p>
          }
        </section>
      </div>
    </mat-menu>
  </div>
</div>
<div class="table-container mat-elevation-z8">
  <table *ngIf="!isDataLoading" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Name</b></th>
      <td mat-cell *matCellDef="let organization">{{ organization.name }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let organization">
        {{ fireService.types.get(organization.type) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let organization">
        {{ fireService.countries.get(organization.country) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="sectors">
      <th mat-header-cell *matHeaderCellDef>Sectors</th>
      <td mat-cell *matCellDef="let organization" [innerText]="formatSectors(organization.sectors)"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayCols; sticky: true"></tr>
    <tr mat-row *matRowDef="let organizaton; columns: displayCols" (click)="onClickOrganization(organizaton.id)"></tr>
  </table>
  <div *ngIf="isDataLoading" class="spinner">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
<div class="mat-elevation-z8">
  <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="25" showFirstLastButtons></mat-paginator>
</div>