.table-container {
    height: calc(100vh - 220px);

    th:nth-child(odd),
    td:nth-child(odd) {
        width: 18% !important;
    }

    th:nth-child(even),
    td:nth-child(even) {
        width: 32% !important;
    }

    .mat-mdc-row:hover,
    .mat-mdc-row:focus {
        font-weight: 500;
        cursor: pointer;
    }
}