.container {
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 70vh;

    .content {
        // padding: 20px;
        // width: 60vw;
        // height: 60vh;
        border-radius: 15px;
        // background-color: gray;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        button {
            padding: 8px 30px;
        }
    }
}