
// Custom Theming for Angular Material
@use '@angular/material' as mat;
// Include the common styles for Angular Material
@include mat.core();

// Define the palettes for your theme using the Material Design
$GPPOrgs-primary: mat.define-palette(mat.$indigo-palette);
$GPPOrgs-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GPPOrgs-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
$GPPOrgs-theme: mat.define-light-theme((
  color: (
    primary: $GPPOrgs-primary,
    accent: $GPPOrgs-accent,
    warn: $GPPOrgs-warn,
  )
));

// Include theme styles for core and each component used in your app.
@include mat.all-component-themes($GPPOrgs-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }